.landing {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;

    .container {
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        svg{
            fill: #24a9fc;
            width: 125px;
        }
    }
    
    .cards {
        display: flex;
        gap: 20px;

        &:has(> .card:hover) > .card:not(:hover),
        &:has(> .card:focus-within) > .card:not(:focus-within) {
            opacity: .5;
        }
    
        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s, opacity 0.3s;
            width: 300px;
            display: flex;
            flex-direction: column;

            
            .content {
                padding: 20px;
                gap: 16px;
                display: flex;
                flex-direction: column;
                flex: 1;

                *{
                 margin: 0;   
                }
            }
    
            .title {
                font-size: 1.2rem;
                font-weight: bold;
                color: #333;
            }
    
            .description {
                color: #666;
                line-height: 1.5;
                flex: 1;
                text-wrap: balance;
            }
    
            &:hover,
            &:focus-within {
                transform: translateY(-5px);

                .image-container{
                    img{
                        scale: 1.05;
                    }
                }
            }
    
            .image-container{
                overflow: hidden;
                height: 125px;
                border-bottom: 1px solid #ddd;
                img {
                    aspect-ratio: 1;
                    object-fit: cover;
                    object-position: top center;
                    display: block;
                    transition: scale .3s;
                }
            }
    
            a {
                background-color: hsl(214, 82%, 51%);
                box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
                border: 2px solid #16458e;
                border-radius: 4px;
                padding: 15px 40px;
                color: #fff;
                text-decoration: none;
                display: block;
                text-align: center;
                font-weight: 500;
                transition: .3s;

                &:hover,
                &:focus{
                    background-color: hsl(214, 82%, 45%);
                    text-decoration: underline;
                }
            }
        }
    
    }
}


/* Turn cross-document view-transitions on */
/* Note that this at-rule is all that is needed to create the default cross-fade animation  */

@view-transition {
    navigation: auto;
}

/* Customize the default animation behavior */

::view-transition-group(root) {
    animation-duration: 0.5s;
}

@keyframes slide-fade-in {
    from {
        opacity: 0.75;
        transform: scale(0.75);
    }
}

header.header {
    view-transition-name: header;
}

footer {
    view-transition-name: footer;
}

header svg {
    fill: #fff;
    width: 1.5em;
    height: 1.5em;
}

.plp .product-item img {
    @media (prefers-reduced-motion: no-preference) {
        @supports (animation-timeline: view()) {
            animation: slide-fade-in both;
            animation-timeline: view();
            animation-range: contain 0% contain 75%;
        }
    }
}

.plp .search-page-wrapper {
    align-items: flex-start;
}

.plp .sidebar {
    position: sticky;
    top: 20px;
}

body .Product__Description-text {
    white-space: initial;
}

.Product__Title {
    text-wrap: balance;
}

.customisation-container textarea {
    width: 100%;
    min-height: 75px;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 0.1em;
    padding: 8px;
}

.customisation-container textarea.field-sizing {
    field-sizing: content;
}
